.feature 
    .feature-container
        .feature-content
            .text-wrap
                h2 Important to eat fruit
                p.desc-content Eating fruit provides health benefits — people who eat more fruits and vegetables as part of an overall healthy diet are likely to have a reduced risk of some chronic diseases. Fruits provide nutrients vital for health and maintenance of your body.
                p.desc-content Fruits are sources of many essential nutrients that are underconsumed, including potassium, dietary fiber, vitamin C, and folate (folic acid).
                p.desc-content Most fruits are naturally low in fat, sodium, and calories. None have cholesterol.
        .feature-image
            img(src="./image/feature-1.jpg", alt="")