.cart.mt5
    .cart-content
        .table-cart
            table
                thead
                    tr
                        th.pro-thumnail Image
                        th.pro-title Product
                        th.pro-price Price
                        th.pro-quantity Quantity
                        th.pro-subtotal Total
                        th.pro-remove Remove
                tbody
                    tr
                        td.pro-thumnail
                            a(href="#")
                                img(src="./image/4.jpg", alt="")
                        td.pro-title 
                            a(href="#")
                                |Product Dummy Title
                                br
                                |S / green
                        td.pro-price 
                            span $295.00
                        td.pro-quantity
                            .input-group 
                                input(type="text" value="0")
                                .dec.btn -
                                .inc.btn +
                        td.pro-subtotal 
                            span $295.00
                        td.pro-remove 
                            a(href="#")
                                i.fas.fa-trash
                    tr
                        td.pro-thumnail
                            a(href="#")
                                img(src="./image/5.jpg", alt="")
                        td.pro-title 
                            a(href="#")
                                |Product Dummy Title
                                br
                                |S / green
                        td.pro-price 
                            span $295.00
                        td.pro-quantity
                            .input-group 
                                input(type="text" value="0")
                                .dec.btn -
                                .inc.btn +
                        td.pro-subtotal 
                            span $295.00
                        td.pro-remove 
                            a(href="#")
                                i.fas.fa-trash
                    tr
                        td.pro-thumnail
                            a(href="#")
                                img(src="./image/8.jpg", alt="")
                        td.pro-title 
                            a(href="#")
                                |Product Dummy Title
                                br
                                |S / green
                        td.pro-price 
                            span $295.00
                        td.pro-quantity
                            .input-group 
                                input(type="text" value="0")
                                .dec.btn -
                                .inc.btn +
                        td.pro-subtotal 
                            span $295.00
                        td.pro-remove 
                            a(href="#")
                                i.fas.fa-trash
                    tr
                        td.pro-thumnail
                            a(href="#")
                                img(src="./image/9.jpg", alt="")
                        td.pro-title 
                            a(href="#")
                                |Product Dummy Title
                                br
                                |S / green
                        td.pro-price 
                            span $295.00
                        td.pro-quantity
                            .input-group 
                                input(type="text" value="0")
                                .dec.btn -
                                .inc.btn +
                        td.pro-subtotal 
                            span $295.00
                        td.pro-remove 
                            a(href="#")
                                i.fas.fa-trash
        .cart-update
            .apply
                form(action="#")
                    input(type="text" placeholder="Enter Your Coupon Code")
                    button.uppercase apply coupon
            .update
                a(href="#") Update Cart
        .total
            .total-content
                h3 Cart Total
                table
                    tbody
                        tr
                            td Sub Total
                            td $230
                        tr
                            td Shipping
                            td $70
                        tr
                            td Total
                            td.strong $300
                a(href="#").uppercase proced to checkout