.description.mb2
    .description-container
        .title
            ul
                li
                    a.color(href="#connect-1" data-toggle="tab" role="tab")#home-tab.uppercase  description 
                li
                    a(href="#connect-2" data-toggle="tab" role="tab")#profile-tab.uppercase  review
                li
                    a(href="#connect-3" data-toggle="tab" role="tab")#contact-tab.uppercase  shipping policy
                li
                    a(href="#connect-4" data-toggle="tab" role="tab")#review-tab.uppercase  Size chart
        .content#tab-content
            .descript#connect-1
                article.mb3 On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
                article Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            .review#connect-2
                .view.mb5
                    img(src="./image/none.jpg", alt="")
                    .view-content
                        .vote.mb4
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        .admin.mb4
                            h5 
                                |Admin -
                                span  December 19,2020
                        .text
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit obcaecati totam commodi, earum tempora, ipsum iusto vel veniam provident rerum expedita similique molestias, iure distinctio voluptatibus eligendi vitae illum consequuntur!
                .add 
                    h3 Add a review
                    p.mb Your email address will not be published. Required fields are marked *
                .rating
                    h2.mb Your rating
                    .vote.mb3
                        i.fas.fa-star.voted
                        i.fas.fa-star.voted
                        i.fas.fa-star.voted
                        i.fas.fa-star
                        i.fas.fa-star
                .form
                    .desk
                        .name.mb3
                            p 
                                |Name
                                span.ml *
                            input(type="text" require="require" name="name")
                        .email.mb3
                            p 
                                |Email
                                span.ml *
                            input(type="text" require="require" name="email")
                    .comment.mb3
                        p Comment
                        textarea#ad(name="comment", cols="30", rows="10")
                .submit
                    button(type="submit") SUBMIT
            .shipping#connect-3
                h3.mb6 Shipping policy for our store
                p.mb3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis illum quas tempore suscipit, dicta mollitia assumenda a adipisci nisi maxime harum dolorem, autem animi! Autem blanditiis nesciunt natus similique?
                ul  
                    li 1-2 business days (Typically by end of day)
                    li 30 day money back guaranty
                    li 24/7 live support
                    li odio dignissim qui blandit praesent
                    li luptatum zzril delenit auge duis dolore
                    li te feugait nulla facilisi.
                p.mb3 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum
                p.mb3 claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
                p seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
            .chart#connect-4
                h3.mb6 Size Chart
                table
                    tbody
                        tr 
                            td.cun-name 
                                span UK
                            td 18
                            td 20
                            td 22
                            td 24
                            td 26
                        tr 
                            td.cun-name 
                                span European
                            td 46
                            td 48
                            td 50
                            td 52
                            td 54
                        tr 
                            td.cun-name 
                                span USA
                            td 14
                            td 16
                            td 18
                            td 20
                            td 22
                        tr 
                            td.cun-name 
                                span Australia
                            td 28
                            td 10
                            td 12
                            td 14
                            td 16
                        tr 
                            td.cun-name 
                                span Canada
                            td 14
                            td 18
                            td 16
                            td 26
                            td 22



            