.offer
    .offer-container
        .member
            h4 
                |SPECIAL 
                span OFFER 
                |FOR SUBSCRIPTION
            h2 GET INSTANT DISCOUNT FOR MEMBERSHIP
            p.desc-content 
                |Subscribe our newsletter and all latest news of our 
                br 
                |latest product, promotion and offers
            .input
                input(type="email" name="EMAIL" placeholder="email@example.com") 
                button(type="submit") SUBSCRIBE
