.thumb
    .thumb-container
        .content
            h3.title Shop Sidebar
            ul
                li.first
                    a(href="index.pug") Home
                li
                    a(href="index.pug") Shop 
