.footer 
    .footer-container
        .content
            .obrien
                a(href="index.pug")
                    img(src="./image/footer.png", alt="")
                p Obrien is the best parts shop of your daily nutritions. What kind of nutrition do you need you can get here soluta nobis
                .social
                    ul
                        li
                            a(href="#")
                                i.fab.fa-facebook-f
                        li
                            a(href="#")                        
                                i.fab.fa-twitter
                        li
                            a(href="#")
                                i.fab.fa-linkedin-in
                        li
                            a(href="#")
                                i.fab.fa-vimeo-v
                        li
                            a(href="#")
                                i.fab.fa-instagram
            .infomation
                .info
                    h2 Information
                    ul
                        li
                            a(href="#") Our Company
                        li
                            a(href="#") Contact Us
                        li
                            a(href="#") Our Services
                        li
                            a(href="#") Why We ?
                        li
                            a(href="#") Careers
                .info
                    h2 Quicklink
                    ul
                        li
                            a(href="#") About
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Shop
                        li
                            a(href="#") Cart
                        li
                            a(href="#") Contact
                .info
                    h2 Support
                    ul
                        li
                            a(href="#") Online Support
                        li
                            a(href="#") Shipping policy
                        li
                            a(href="#") Return policy
                        li
                            a(href="#") privacy polyci
                        li
                            a(href="#") Term of Services
                .info
                    h2 See Information
                    address
                        |123, H2, Road #21, Main City, Your address goes here.
                        br
                        |Phone: 01254 698 785, 36598 254 987
                        br
                        |Email: https://example.com
.coppy-right
    .coppy
        p   
            |Copyright © 2020 
            a(href="http://hasthemes.com" title="http://hasthemes.com") HasThemes
            |  | Built with 
            strong Obrien 
            | by 
            a(href="http://hasthemes.com" title="http://hasthemes.com") HasThemes
            |  .
            
