.best
    .best-sale
        .content
            .title
                h2.uppercase feature product
                p.text All best seller product are now available for you and your can buy this product from here any time any where so sop now
            .product.owl-carousel.owl-theme
                .product-1.mb-30
                    .image
                        figure
                            img.first(src="./image/4.jpg", alt="")
                            img.second(src="./image/5.jpg", alt="")
                            .content-image
                                p.uppercase soldout
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1.mb-30
                    .image
                        figure
                            img.first(src="./image/6.jpg", alt="")
                            img.second(src="./image/7.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1.mb-30
                    .image
                        figure
                            img.first(src="./image/8.jpg", alt="")
                            img.second(src="./image/9.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1.mb-30
                    .image
                        figure
                            img.first(src="./image/10.jpg", alt="")
                            img.second(src="./image/9.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1.mb-30
                    .image
                        figure
                            img.first(src="./image/4.jpg", alt="")
                            img.second(src="./image/8.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
            .product.owl-carousel.owl-theme
                .product-1
                    .image
                        figure
                            img.first(src="./image/5.jpg", alt="")
                            img.second(src="./image/8.jpg", alt="")
                            .content-image
                                p.uppercase soldout
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1
                    .image
                        figure
                            img.first(src="./image/7.jpg", alt="")
                            img.second(src="./image/8.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1
                    .image
                        figure
                            img.first(src="./image/9.jpg", alt="")
                            img.second(src="./image/5.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1
                    .image
                        figure
                            img.first(src="./image/7.jpg", alt="")
                            img.second(src="./image/5.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
                .product-1
                    .image
                        figure
                            img.first(src="./image/4.jpg", alt="")
                            img.second(src="./image/5.jpg", alt="")
                    .product-content
                        .vote
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star.voted
                            i.fas.fa-star
                            i.fas.fa-star
                        h4
                            a(href="#") Product dummy name
                        .price
                            p 
                                |$80.00
                                span $90.00
script.
    $(document).ready(function(){
        $('.product').owlCarousel({
            nav: false,
            loop: true,
            responsive: {
                1200: {
                    items: 4
                },
                768: {
                    items: 2
                },
                320: {
                    items :1
                },
                0: {
                    items: 1
                }
            }
        })
    });