.shop
    .shop-container
        .shop-content
            .right-content
                .top-content
                    .icon
                        i.fas.fa-th.grid.border#grid
                        i.fas.fa-th-list.list#list
                    .input-group
                        select
                            option( selected value="1 " ) Alphabetically, A-Z
                            option(value="2") Sort by popularity
                            option(value="3") Sort by newness
                            option(value="4") Sort by price: low to high
                            option(value="5") Sort by price: high to low
                            option(value="6") Product Name: Z
                .mid-content
                    .grid-3
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/4.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/5.jpg", alt="")
                                    .content-image
                                        p.uppercase soldout
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/5.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/6.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/10.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/8.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/7.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/9.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/8.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/10.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/5.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/7.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/8.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/6.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/7.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/5.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/10.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/9.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/5.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/10.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/7.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/5.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/8.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/7.jpg", alt="")
                                    
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                    .list-3.none
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/4.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/5.jpg", alt="")
                                    .content-image
                                        p.uppercase soldout
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,

                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/5.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/6.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/10.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/8.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/7.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/9.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/8.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/10.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/5.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/7.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/8.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/6.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/7.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/5.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/10.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/9.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/5.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/10.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/7.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/5.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                        .product-1
                            .image
                                figure
                                    a(href="#")
                                        img.first(src="./image/8.jpg", alt="")
                                    a(href="#")
                                        img.second(src="./image/7.jpg", alt="")
                                    .content-image
                            .product-content
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                                h4
                                    a(href="#") Product dummy name
                                .price
                                    p 
                                        |$80.00
                                        span $90.00
                                p.desc-text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                
                .bot-content
                    .left
                        ul
                            li
                                i.fas.fa-long-arrow-alt-left
                            li
                                a(href="#") 1
                            li
                                a(href="#") 2
                            li
                                i.fas.fa-long-arrow-alt-right
                    .right
                        p Showing 1 - 12 of 34 result
        
                            
                            

            .left-sidebar
                .catalog.mb-12
                    h2 Search
                    .content
                        .input-group
                            input(type="text" placeholder="Search Our Store")
                            button(type="button")
                                i.fas.fa-search
                .catalog.mb-12
                    h2 Menu Catelogries
                    .content
                        ul.nav
                            li.has-child  
                                span.menu-expand
                                    i
                                a.add(href="#") Breads
                            li.has-child  
                                span.menu-expand
                                    i
                                a(href="#") Fruits
                            li.has-child  
                                span.menu-expand
                                    i
                                a(href="#") Vegatables
                            li.has-child  
                                span.menu-expand
                                    i
                                a(href="#") Organic Food
                .catalog.mb-12
                    h2 Categories
                    .content
                        ul.nav
                            li  
                                a(href="#") All Product
                            li  
                                a(href="#") Best Saller (5)
                            li  
                                a(href="#") Featured (4)
                            li  
                                a(href="#") New Product (6)
                .catalog.mb-12
                    h2 Color
                    .content
                        button(type="button").btn.red
                        button(type="button").btn.green 
                        button(type="button").btn.yellow
                        button(type="button").btn.white
                        button(type="button").btn.gold
                        button(type="button").btn.gray
                        button(type="button").btn.blue
                        button(type="button").btn.magenta
                        button(type="button").btn.maroon
                        button(type="button").btn.navy
                .catalog.mb-12
                    h2 Tags
                    .content
                        ul.tags
                            li
                                a(href="#") Car
                            li
                                a(href="#") Part
                            li
                                a(href="#") Shop
                            li
                                a(href="#") Tayer
                            li
                                a(href="#") Seat
                            li
                                a(href="#") Engine
                            li
                                a(href="#") Parts
                            li
                                a(href="#") Fuel
                            li
                                a(href="#") Moderm
                            li
                                a(href="#") Brake
                .catalog.mb-12
                    h2 Recent Products
                    .content
                        .product
                            a(href="#")
                                img(src="./image/small1.jpg", alt="")
                            .image-content
                                .product-title
                                    h4.title-2
                                        a(href="#") Product dummy name
                                .price-box
                                    p   
                                        |$80.00
                                        span $90.00
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                        .product
                            a(href="#")
                                img(src="./image/small2.jpg", alt="")
                            .image-content
                                .product-title
                                    h4.title-2
                                        a(href="#") Product dummy name
                                .price-box
                                    p   
                                        |$80.00
                                        span $90.00
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
                        .product
                            a(href="#")
                                img(src="./image/small4.jpg", alt="")
                            .image-content
                                .product-title
                                    h4.title-2
                                        a(href="#") Product dummy name
                                .price-box
                                    p   
                                        |$80.00
                                        span $90.00
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    i.fas.fa-star
script.
    $('#grid').click(function(e){
        $('.grid-3').removeClass('none');
        $('.list-3').addClass('none');
        $('#grid').addClass('border');
        $('#list').removeClass('border')
    })
    $('#list').click(function(e){
        $('.list-3').removeClass('none');
        $('.grid-3').addClass('none');
        $('#list').addClass('border');
        $('#grid').removeClass('border')
    })
    $('.has-child').click(function(e){
        $('.has-child').toggleClass('active')

    })