@media screen and (min-width: 320px){
    .top-notice {
        background-color: #E98C81;
    }
    .top-notice .notice {
        text-align: center!important;
        padding: 10px 15px 10px 15px;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .top-notice .notice .noti {
        margin-bottom: 10px;
    }
    .top-notice .notice .noti p {
        color: #FFF;
    }
    .top-notice .notice .button a {
        margin-left: 10px;
        padding: 5px 10px;
        border: 1px solid #FFF;
        font-size: 12px;
        font-family: Poppins, sans-serif;
        border-radius: 3px;
        display: inline-block;
        background-color: #E98C81;
        line-height: 18px;
        font-weight:600;
        color:#FFF;
    }
    .top-notice .notice span {
        margin-left: 10px;
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 16px;
        cursor:pointer;
        line-height: 25px;
        width: 25px;
        height:25px;
        display: block;
        margin-top: 2px;
    } 
    .none {
        display: none;
    }
    .header .header-container .menu {
        display: none;
    }
    .header .header-container .custom .custom-container .login {
        display: none;
    }
    .header .header-container .custom .custom-container .usd {
        display: none;
    }
    .header {
        padding: 0 15px;
        height: 94px;
        align-items: center;
    }
    .header .header-container {
        display: flex;
        justify-content: space-between;
        height: 94px;
        align-items: center;
    }
    .header .header-container .custom .custom-container ul li {
        padding: 30px 0;
    }
    .header .header-container .custom .custom-container ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .header-container .custom .custom-container ul .cart {
        margin-right:30px;
        position: relative;
        
    }
    .header .header-container .custom .custom-container ul .cart a i{
        font-size: 20px;
    }
    .header .header-container .custom .custom-container ul .cart a span {
        color: #FFF;
        border: 1px solid #222;
        background-color: #000;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 600;
        height: 20px;
        width: 20px;
        text-align: center;
        display: block;
        top: 20px;
        position: absolute;
        left: -10px;
    }
    .header .header-container .custom .custom-container ul .bar {
        font-size: 20px;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .cart-text .title {
        font-size: 15px;
        font-weight:500;
        margin-bottom:8px;
        margin-top: 0;
        font-family: "Oswald", sans-serif;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .cart-text .cart-text-btn {
        display: flex;
        justify-content: space-between;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .cart-text .cart-text-btn .text span {
        font-size: 15px;
        font-weight:500;
        font-family: "Oswald", sans-serif;

    }
    .header .header-container .custom .custom-container .left .cart .cart-content .cart-text .cart-text-btn .text .color {
        font-size: 15px;
        font-weight:600;
        font-family: "Oswald", sans-serif;
        color:#E98C81;
        margin-left: 5px;
        background-color: #fff!important;
    }
    .header .header-container .custom .custom-container .left {
        position: relative;
    }
    .header .header-container .custom .custom-container .left  .has-sub:hover .submenu2 {
        top: 100%;
        opacity: 1;
        visibility:visible;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu2 li {
        padding:0;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu2 li a {
        padding:0;
        display: flex;
        justify-content: space-between;
        line-height: 22px;
        font-size:15px;
        font-weight: 400;
        position: relative;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu2 {
        position: absolute;
        top: 110%;
        right:-230%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear 0.2s;
        z-index: 999;
        background-color: #fff;
        padding: 20px  25px;
        width:300px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        display: block;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu2 .image {
        display: grid;
        grid-template-columns: 26% 68%;
        justify-content: space-between;
        align-items: center;
    }
    .mba {
        margin-bottom:20px;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .total {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        padding: 20px 0;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .total p {
        font-weight:700;
        font-size:20px;
        font-family: "Oswald", sans-serif;
    }
    
    .header .header-container .custom .custom-container .left .cart .cart-content .link .btn {
        height:45px;
        line-height:45px;
        color :#1b1b1b;
        background-color: #d8d8d8;
        padding: 0 20px;
        border-radius: 25px;
        font-weight: 600;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        text-align:center;
        width:100%;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .link .btn:hover {
        color :#FFF;
        background-color: #E98C81;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .link {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }
    .scroll  {
        display:inline-block;
        height:50px;
        width:50px;
        line-height:50px;
        color:#FFF;
        background-color:#E98C81;
        transform: translateY(-98%);
        visibility:hidden;
        transition: all 0.3s ease-in;
        position: fixed;
        right: 50px;
        bottom:10px;
        z-index:999;
        border-radius:50%;
        font-size: 16px;
        text-align: center;
    
    }
    .scroll:hover {
        background-color: #1b1b1b;
        color:#E98C81;
    }.scroll i {
        font-size: 16px;
    }
    .fix {
        visibility:visible;
        opacity:1;
        transform: translateY(0)
}
@media screen and (min-width:768px){
    .top-notice .notice {
        display: flex;
    }
    .top-notice .notice .button a {
        padding: 5px 20px;
        font-size: 14px;
        margin-left:15px;
    }
    .top-notice .notice .noti {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1200px){
    .top-notice .notice {
        max-width: 1140px;
        margin: auto;
    }
    .header {
        max-width: 1140px;
        margin: auto;
    }
    .header .header-container .custom .custom-container ul .bar {
        display: none;
    }
    .header .header-container .custom .custom-container ul .cart {
        margin: 0px;

    }
    .header .header-container .menu {
        display: block;
    }
    .header .header-container .menu ul {
        display: flex;
        align-items: center;
    }
    .header .header-container .menu ul li {
        padding: 30px 0;
    }
    .header .header-container .menu ul li a {
        font-size: 15px;
        display: block;
        padding: 8px 17px;
        line-height: 18px;
        font-weight:600;
    }
    .header .header-container .menu .main-menu .nav li a:hover {
        color:#E98C81;
    }
    .header .header-container .menu ul li a i {
        font-size: 13px;
        padding-left:5px;

    }
    .header .header-container .custom .custom-container .login {
        display: block;
        margin-right: 30px;
        font-size:15px;
        font-weight:600;
    }
    .header .header-container .custom .custom-container .login .register {
        
        margin-left:15px;
    }
    .header .header-container .custom .custom-container .login .register::before {
        content:"|";
        padding-right:15px;
        font-weight:300;
        cursor: auto;
    }
    .header .header-container .custom .custom-container .usd {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-right: 30px;
    }
    .header .header-container .custom .custom-container .usd i {
        padding-left:3px;
    }
    .active {
        color: #E98C81;
    }
    .header .header-container .menu .main-menu .nav {
        position: relative;
    }
    .header .header-container .menu .main-menu .nav .has-sub .submenu {
        position: absolute;
        top: 110%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear 0.2s;
        z-index: 999;
        background-color: #fff;
        padding: 20px 0 24px;
        width:230px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        display: block;
    }
    .header .header-container .menu .main-menu .nav .has-sub:hover .submenu {
        top: 100%;
        opacity: 1;
        visibility:visible;
    }
    .header .header-container .menu .main-menu .nav .has-sub .submenu li {
        padding:0;
    }
    .header .header-container .menu .main-menu .nav .has-sub .submenu li a {
        padding:10px 20px;
        display: flex;
        justify-content: space-between;
        line-height: 18px;
        font-size:14px;
        font-weight: 400;
        position: relative;
    }
    .header .header-container .menu .main-menu .nav .has-sub .menu-grid {
        position: absolute;
        top: 110%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear 0.2s;
        z-index: 999;
        background-color: #fff;
        padding: 20px 0 24px;
        width:750px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .header .header-container .menu .main-menu .nav .has-sub:hover .menu-grid {
        top: 100%;
        opacity: 1;
        visibility:visible;

    }
    .header .header-container .menu .main-menu .nav .has-sub .menu-grid .menu-column ul {
        display: block;
    }
    .header .header-container .menu .main-menu .nav .has-sub .menu-grid .menu-column ul li span {
        position:relative;
        font-size:18px;
        font-family: "Oswald", sans-serif;
        padding:0 20px 0 0;
        margin:0 0 10px 20px;
        display: table-caption;
        font-weight:400;
        border-bottom: 2px solid #000;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu {
        position: absolute;
        top: 110%;
        left:-5%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear 0.2s;
        z-index: 999;
        background-color: #fff;
        padding: 20px  25px;
        width:280px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        display: block;
    }
    .header .header-container .custom .custom-container .left {
        position: relative;
    }
    .header .header-container .custom .custom-container .left  .has-sub:hover .submenu {
        top: 100%;
        opacity: 1;
        visibility:visible;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu li {
        padding:0;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu li a {
        padding:0;
        display: flex;
        justify-content: space-between;
        line-height: 22px;
        font-size:15px;
        font-weight: 400;
        position: relative;
    }
    .header .header-container .custom .custom-container .left  .has-sub .submenu2 {
        width:350px;
    }
    .header .header-container .custom .custom-container .left .cart .cart-content .link .btn {
        font-size:18px;
        padding: 0 20px;
    }
}
@media screen and (min-width:1400px){
    .top-notice .notice {
        max-width: 1320px;
    }
    .header {
        max-width: 1320px;
    }
}
@media screen and (min-width:1500px){
    .top-notice .notice {
        max-width: 1140px;
    }
    .header {
        max-width: 1480px;
    }
} 